.jumbotron {
    background-color: orange;
};

.display-4 {
    position: relative;
    left: 30%;
};
.lead {
    position: relative;
    left: 35%;
};
.pure-menu-list {
    position: relative;
    left: 30%;
};
.pure-menu-link {
    position: relative;
    left: 75%;
    position: -webkit-sticky;
    position: sticky;

};
.pure-menu {
    position: relative;
    left: 50%;
}

.carousel {
    width: 300px;
    height: 300px;
}

.carousel-item {
    width: 400pxx;
    height: 360px;
}

.eventform {
    position: relative;
    left: 30%;
    
}
